.stats-container {
  width: 925px;
  background-color: #fff;
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 11px 0px 22px -6px;
  .column-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    width: 100%;
    border-bottom: 1px solid lightgrey;

    h3 {
      width: 20%;
      i {
        margin-left: 10px;
      }
    }
  }
  .stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    .column {
      width: 20%;
      p {
        border-bottom: 1px solid lightgrey;
        width: 100%;
        padding: 13px 13px;
        padding-right: 0px;
        font-size: 14px;
      }
    }
  }
}
